{% if plants.size > 0 %}
    <ul class="flowerlist">
    {% for plant in plants %}
        <li class="{{ zone_type }}">
            {% comment %} <img src="{{ plant.in_bloom}}" alt=""> {% endcomment %}
            <h2>{{ plant.name }}</h2>
            <img src="/assets/images/alium.webp" alt="">
            <a href="/plant/{{ plant.slug }}" class="styled primary" >Meer over deze plant</a>
        </li>
        {% comment %} DUMMY DATA REMOVE WHEN DATABASE IS FILLED {% endcomment %}
        <li class="voedseleiland">
            {% comment %} <img src="{{ plant.in_bloom}}" alt=""> {% endcomment %}
            <h2>{{ plant.name }}</h2>
            <img src="/assets/images/welcome.webp" alt="">
            <a href="/plant/{{ plant.slug }}" class="styled primary" >Meer over deze plant</a>
        </li>
        <li class="waterplandgebied">
            {% comment %} <img src="{{ plant.in_bloom}}" alt=""> {% endcomment %}
            <h2>{{ plant.name }}</h2>
            <img src="/assets/images/welcome.webp" alt="">
            <a href="/plant/{{ plant.slug }}" class="styled primary" >Meer over deze plant</a>
        </li>
        <li class="heuvel">
            {% comment %} <img src="{{ plant.in_bloom}}" alt=""> {% endcomment %}
            <h2>{{ plant.name }}</h2>
            <img src="/assets/images/welcome.webp" alt="">
            <a href="/plant/{{ plant.slug }}" class="styled primary" >Meer over deze plant</a>
        </li>
        <li class="{{ zone_type }}">
            {% comment %} <img src="{{ plant.in_bloom}}" alt=""> {% endcomment %}
            <h2>{{ plant.name }}</h2>
            <img src="/assets/images/welcome.webp" alt="">
            <a href="/plant/{{ plant.slug }}" class="styled primary" >Meer over deze plant</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Er zijn geen planten gevonden in deze zone.</p>
{% endif %}