{% if plants.size > 0 %}
    <ul class="flowerlist">
    {% for plant in plants %}

        <li>
            
            <img src="/assets/images/alium.webp" alt="{{ plant.name }}">
            <article>
                <h2>{{ plant.name }}</h2>
                {% if zone_slug %}
                    <a href="/veldverkenner/{{ zone_slug }}/{{ plant.slug }}" class="styled primary">
                        Meer over deze plant
                    </a>
                {% else %}
                    <a href="/collectie/{{ plant.slug }}" class="styled primary">
                        Meer over deze plant
                    </a>
                {% endif %}
            </article>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Er zijn geen planten gevonden.</p>
{% endif %}